@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark-blue: #0A3871;
    --light-blue: #F3F5FC;
    --gray: #D8DFE8;
    --dark-gray: #495057;
    --red-alert: #D0342C;
    --yellow-warning: #EED202;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width:10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-blue);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: var(--light-blue);
}

.logo {
    position: fixed;
    margin: 40px;
    height: 32px;
}

.input {
    margin: 5% 0 5% 5%;
    padding: 5% 2.5% 2.5% 5%;
    display: flex;
    width: 70%;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

#message {
    resize: none;
    border: none;
    outline: none;
    width: auto;
    height: 76%;
    font-size: 32px;
    background-color: transparent;
}

#message , #message::placeholder{
    color: var(--dark-blue);
}

.alert {
    position: fixed;
    right: 20px;
    top: 20px;
    height: 50px;
    display: none;
    align-items: center;
    margin: 5px;
    padding: 5px 20px;
    background-color: var(--white);
    border-radius: 5px;
    font-size: 14px;
}

.options {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    display: flex;
    justify-content: center;
    border-radius: 24px;
    width: 45%;
    height: 40px;
    border-color: var(--dark-blue);
    border-width: 1px;
    margin: 10px;
    cursor: pointer;
    background-color: transparent;
}

.btn:hover {
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.btn_encriptar {
    background-color: var(--dark-blue);
    color: var(--white);
}

.btn_copiar, #secret {
    display: none;
    width: 90%;
}

.output {
    margin: 40px 40px 40px 0;
    background-color: var(--white);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    padding: 32px;
}

#secret {
    height: 60vh;
    overflow-wrap: break-word;
    overflow-y: scroll;
    margin: auto;
}

#expecting {
    margin: auto;
}

#expecting > img {
    margin: 0 auto;
    width: 80%;
}

#expecting > p {
    color: var(--dark-gray);
}

footer {
    height: 5vh;
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    border: var(--dark-gray);
    padding-top: 8px;
}


@media (max-width: 768px) {
    .logo {
        position: relative;
    }

    .container {
        align-content: center;
        flex-direction: column;
        height: auto;
    }

    .input, .output {
        width: 90%;
        margin: auto;
    }
    .output {
        margin-bottom: 40px;
    }
    #message {
        height: 40vh;
        font-size: 24px;
    }

    #expecting > img {
        display: none;
    }

}